/* LoginPage.css */

.login-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  
  .auth-container {
    position: relative;
    z-index: 1;
    background-color: rgb(255 255 255 / 12%);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-block: 25vh;
  }
  
  .auth-container input {
    margin-bottom: 15px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .auth-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .auth-container button:hover {
    background-color: #388e3c;
  }
  