/* src/components/Header.css */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 20px;
  }
  
  header input {
    margin-right: 10px;
    padding: 10px;
  }
  
  header button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  header button:hover {
    background-color: #006F8A;
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li.active {
    margin: 0 10px;
    background-color: #4CAF50;
  
  }
  .menu li {
    margin: 0 10px;
    background-color: #FFF;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    padding: 10px 20px;
    
  }
  
  
  .menu a {
    padding: 10px 20px;
    color: #4CAF50;
    text-decoration: none;
    vertical-align: middle;
  }

  .menu li.active a {
    color: #fff;
  }